<footer class="mt-5 pt-5 border-top">
  <div class="container text-center pb-4">
    <h2 class="h4 mb-4">Acknowledgement</h2>
    <p class="mb-4">We acknowledge support from the following.</p>

    <div class="row justify-content-center align-items-center g-4">
      <div class="col-6 col-md-3">
        <img class="img-fluid" style="max-height: 80px; width: auto;" src="{{ '/assets/images/acknowledgment/ieee.png' | relative_url }}" alt="IEEE">
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid" style="max-height: 80px; width: auto;" src="{{ '/assets/images/acknowledgment/ieee-cs.png' | relative_url }}" alt="IEEE Computer Society">
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid" style="max-height: 80px; width: auto;" src="{{ '/assets/images/acknowledgment/tcdp.png' | relative_url }}" alt="IEEE CS TCDP">
      </div>
      <div class="col-6 col-md-3">
        <img class="img-fluid" style="max-height: 80px; width: auto;" src="{{ '/assets/images/acknowledgment/ieee-hamilton.png' | relative_url }}" alt="IEEE Hamilton Section">
      </div>
    </div>
  </div>
</footer>