<footer class="mt-5 pt-5 border-top">
  <div class="container text-center pb-4">
    <h2 class="h4 mb-4">Acknowledgement</h2>
    <p class="mb-5">We gratefully acknowledge the support of our sponsors.</p>

    <div class="sponsor-group mb-5">
      <h3 class="h5 mb-4">Financial Sponsors</h3>
      <div class="row justify-content-center align-items-center g-4">
        <div class="col-5 col-md-2">
          <img class="img-fluid sponsor-logo-financial"
     src="{{ '/assets/images/acknowledgment/maceng.jpg' | relative_url }}"
     alt="McMaster University">
        </div>
        <div class="col-5 col-md-2">
          <img class="img-fluid sponsor-logo-financial"
     src="{{ '/assets/images/acknowledgment/mcscert.jpg' | relative_url }}"
     alt="McSCert">
        </div>
      </div>
    </div>

    <div class="sponsor-group">
      <h3 class="h5 mb-4">Technical Sponsors</h3>
      <div class="row justify-content-center align-items-center g-4">
        <div class="col-6 col-md-3  d-flex justify-content-center">
          <img class="sponsor-logo  d-flex justify-content-center"
               src="{{ '/assets/images/acknowledgment/ieee.png' | relative_url }}"
               alt="IEEE">
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
          <img class="sponsor-logo"
               src="{{ '/assets/images/acknowledgment/ieee-cs.png' | relative_url }}"
               alt="IEEE Computer Society">
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
          <img class="sponsor-logo"
               src="{{ '/assets/images/acknowledgment/tcdp.png' | relative_url }}"
               alt="IEEE CS TCDP">
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
          <img class="sponsor-logo"
               src="{{ '/assets/images/acknowledgment/ieee-hamilton.png' | relative_url }}"
               alt="IEEE Hamilton Section">
        </div>
      </div>
    </div>
  </div>
</footer>